.example-card {
    max-width: 600px;
    display: block;
    margin: 0 auto;

}

mat-chip-listbox {
    display: flex;
    display: inline-block;

}

.backregistration {
    display: block;
    display: flex;
}



.example-header-image {
    background-image: url('https://e7.pngegg.com/pngimages/178/595/png-clipart-user-profile-computer-icons-login-user-avatars-monochrome-black-thumbnail.png');

    background-size: cover;
}